img {
    width: 35%;
    height: auto;
  }

p {
    font-family: Arial, Helvetica, sans-serif;
  }

ul {
    font-family: Arial, Helvetica, sans-serif;
  }

h1 {
    color: rgb(18, 65, 0);
    font-family: Arial, Helvetica, sans-serif;
  }


body {
    background-color: #008B8B;
}

H1 {
    background-color: #008b17;
}
